<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %} Welcome {% endblock %}</title>
</head>

<body>
    <h1> Welcome to the Eliot Grille </h1>
    <div id="sidebar">
        {% block sidebar %}
        <h4> Menu </h4>
        <ul>
            <li><a href="{% url 'menu' %}">Menu</a></li>
    	    <li><a href="{% url 'updatemenu' %}">Update Price in Menu</a></li>
    	    <li><a href="{% url 'addmenu' %}">Add Food to Menu</a></li>
    	    <li><a href="{% url 'remmenu' %}">Remove Food from Menu</a></li>
	</ul>
        <h4> Inventory </h4>
        <ul>
            <li><a href="{% url 'inventory' %}">Inventory</a></li>
    	    <li><a href="{% url 'updateinven' %}">Update Quantity in Inventory</a></li>
    	    <li><a href="{% url 'addinven' %}">Add Ingredient to Inventory</a></li>
    	    <li><a href="{% url 'reminven' %}">Remove Ingredient from Inventory</a></li>
        </ul>
        <h4> Order </h4>
        <ul>
            <li><a href="{% url 'makeorder' %}">Make Order</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div>
         <p> Click <a href = "{% url 'logout' %}"> here </a> to logout. </p>
    </div>
</body>
</html>
